{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
  <div class="presentacion">
<hr>
<hr>
    <script SameSite="None; Secure" src="https://cdn.landbot.io/landbot-3/landbot-3.0.0.js"></script>
    <div id="myLandbot" style="width: 100%; height: 500px"></div>
    <script>
      var myLandbot = new Landbot.Container({
        container: '#myLandbot',
        configUrl: 'https://storage.googleapis.com/landbot.online/v3/H-1492202-D0LL5KOGLMOGO75Y/index.json',
      });
    </script>    
  </div>
{% endblock %}
