{% extends "base_admin.html" %}
{% load static %}
{% block title %}Edicion de Disiplina{% endblock %}


            {% block content %}
            <div class="container-fluid px-3 pt-3">
                <div class="card card-bg">
                    <div class="card mb-4">
 

                        <div class="card-body color-card1">
                            <nav class="navbar navbar-color1">
                                <div class="container-fluid">
                                    <h2> Edicion de Disiplina</h2>


                                </div>
                            </nav>
                        </div>
                    </div>

                    <div class="card mt-1">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <div>
                                        <form action="/edicionDisiplinas/" method="post" class="row" > {% csrf_token %}
                                            <div class="form-group col-md-6">
                                                <label for="">ID</label>
                                                <input type="text" name="disiplinaid" id="disiplinaid" class="form-control" value="{{edicionDisiplina.id}}" readonly required>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="">Nombre</label>
                                                <input type="text" name="disiplinanombre" id="disiplinanombre" class="form-control" value="{{edicionDisiplina.nombre}}" required>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <button type="submit" class="btn btn-primary separacion" data-bs-toggle=""
                                                        data-bs-target="" >
                                                    Actulizar
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endblock %}
                