{% extends "base_admin.html" %}
{% load static %}
{% block title %}Edicion de Ingreso{% endblock %}

                    {% block content %}

                    <div class="container-fluid px-3 pt-3">
                        <div class="card card-bg">
                            <div class="card mb-4">
                                <div class="card-body color-card1">
                                    <nav class="navbar navbar-color1">
                                        <div class="container-fluid">
                                            <h2> Visualizar Evidencia</h2>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                            <div class="card mt-1">
                                <div class="card-body">
                                    <div class="row">
                                        <img src="{{ ingresopq.evidencia.url }}" alt="{{ ingresopq.lote}}">
                                    </div>
                                    <div class="card mt-1">
                                        <div class="card-body">
                                        <h5><b>Nombre del cliente</h5>
                                        <h6>{{ ingresopq.nombres}} {{ ingresopq.apellidos}}</h6>
                                        <h5><b>Numero de lote</h5>
                                        <h6>{{ ingresopq.lote}}</h6>
                                        <h5><b>Descripcion</h5>
                                        <h6>{{ ingresopq.descrip}}</h6>
                                        <h5><b>Fecha de compra</h5>
                                        <h6>{{ ingresopq.fecha_compra}}</h6>
                                        </div>                            
                                    </div>
                               
                            <div class="card mt-1">
                                <div class="card-body">
                                    <h5><b>Estado de la Queja o Reclamo </h5> <!--{{ ingresopq.estado }}-->
                                    <!-- otros detalles del ingreso -->
                                    <form method="post" action="{% url 'actualizar_estado' id=ingresopq.pk %}">
                                        {% csrf_token %}
                                        <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" name="estado" id="estadoSwitch" {% if ingresopq.estado %}checked{% endif %}>
                                        <label class="form-check-label" for="estadoSwitch">En revision</label>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Guardar</button>
                                    </form>
                                </div>
                            </div>
                            <div class="card mt-1">
                                <div class="card-body">
                                    <div class="col-md-12">
                                        <a href="{% url 'adminIngresopqs' %}" class="btn btn-secondary" >Volver</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
                  {% endblock %}

                  