{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
<!-- -------- START HEADER 5 w/ text and illustration ------- -->
<header>
  <div class="page-header min-vh-80">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 my-auto">
          <h1 class="mb-4">Modulo PQRS</h1>
          <p class="lead">El Modulo de Peticiones, Quejas, Reclamos y Sugerencias (PQRS) es una herramienta que nos permite conocer las inquietudes y manifestaciones que tienen nuestros grupos de interés para que tengamos la oportunidad de fortalecer nuestro servicio y seguir en el camino hacia la excelencia operativa.</p>
          <div class="buttons">
            <a href="https://www.isotools.org/2022/01/26/que-es-pqrs-y-por-que-lo-necesita-mi-empresa/" class="btn bg-gradient-warning mt-4" role="button">Saber mas</a>
            <button type="button" class="btn text-warning shadow-none mt-4">Read more</button>
          </div>
        </div>
        <div class="col-lg-8 ps-5 pe-0">
          <div class="row mt-3">
            <div class="col-lg-3 col-6">
              <img class="w-100 border-radius-lg shadow mt-0 mt-lg-7" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcT2JF5aGqOpfOnDBCReTxku9wy8NrkoC5s_cGH8QHZVdXFgWAFE" alt="flower-1" loading="lazy">
            </div>
            <div class="col-lg-3 col-6">
              <img class="w-100 border-radius-lg shadow" src="https://lh3.googleusercontent.com/tzoL2DV_TpoDLQi6TCDMwhl0qtS0NxvnrI1vA35WnDdsiA85_2SXvUI9wJzFVZEwZlbPz9SIfvvGD-3jN5scSt_ChKYueRl8ohwyY7U" alt="flower-2" loading="lazy">
              <img class="w-100 border-radius-lg shadow mt-4" src="https://lh3.googleusercontent.com/2bBDEvKzyjEfXOi6kTKyw3kkAFB6nSNLlCafjdiC3CEPj5sCnj7i0CKKtzfJcefw0GJWq-r1qsJcClDSPtIVPb0n7icy51KJDaFy0g6I7A" alt="flower-3" loading="lazy">
            </div>
            <div class="col-lg-3 col-6 mb-3">
              <img class="w-100 border-radius-lg shadow mt-0 mt-lg-5" src="https://lh3.googleusercontent.com/sDnLijzZBlKcBehipDJt_LXkR-kBtASMB9z4pmdqirSvuBkHeg3R1il3LO22tXxDR6464HRegjfMic8fsCOo1Z72HgQZ5JDQIvka6DS9kA" alt="flower-4" loading="lazy">
              <img class="w-100 border-radius-lg shadow mt-4" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSjU5BIWFLNd8d9IFmYdrDsnN-YOEhQuhTQXwWoL6qWzSropg7J" alt="flower-5" loading="lazy">
            </div>
            <div class="col-lg-3 col-6">
              <img class="w-100 border-radius-lg shadow mt-3" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-P2Y_gJhxcVZaosFTvGElVOhjd6TVInRMst74M2Rzjvxa1wan" alt="flower-6" loading="lazy">
              <img class="w-100 border-radius-lg shadow mt-4" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSm8C3noqI10UJLjTecSE3-hsfkASbEOaDWtXSWKkC7RRbQEHCx" alt="flower-7" loading="lazy">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>

    
<!-- -------   START PRE-FOOTER 6 - title & description and input    -------- -->

<!-- -------   END PRE-FOOTER 6 - title & description and input    -------- -->
{% endblock %}
