{% extends "base_admin.html" %}
{% load static %}
{% block title %}Vista de Categoria{% endblock %}


            {% block content %}
            <div class="container-fluid px-3 pt-3">
                <div class="card card-bg">
                    <div class="card mb-4">
 
                        <div class="card-body color-card1">
                            <nav class="navbar navbar-color1">
                                <div class="container-fluid">
                                    <h2> Vista de Categoria</h2>


                                </div>
                            </nav>
                        </div>
                    </div>
                    
                    <div class="card mt-1">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class=" text-center col-md-12">
                                        <h2>{{verTipospq.nombre}}</h2>
                                    </div>
                                    <div class=" text-center col-md-12">
                                        <div>
                                            <img src="../media/{{verTipospq.imagen}}" width="350px" height="350px">
                                        </div>
                                    </div>
                                    </div>
                                    <div class="text-center col-md-12" >
                                        <h3>Descripcion:</h3>
                                        <h5 align="left"">{{verTipospq.descripcion}} </h5>
                                    </div>

                                    {% comment %} <div class="text-center col-md-12" >
                                        <h3>Restriciones:</h3>
                                        <h5 align="left" >{{verTipospq.restriciones}} </h5>
                                    </div>
                                     {% endcomment %}

                                    <div class="col-md-12">
                                        <a href="{% url 'adminTipospqs' %}" class="btn btn-secondary" >Volver</a>
                                        <button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal"data-bs-target="#exampleModal1" >
                                        <i class="fa-solid fa-pen"></i> Editar</button>
                                    </div>

                                    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Datos De Actualizacion</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>

                                                <div class="modal-body">
                                                    <form action="/editaTipospq/{{verTipospq.id}}" method="post" class="row" enctype="multipart/form-data" > {% csrf_token %}
                                                        <div class="form-group col-md-6">
                                                            <label for="">Nombre</label>
                                                            <input type="text" name="nombre" id="nombre" class="form-control" value="{{verTipospq.nombre}}" required>
                                                        </div>

                                                        <div class="form-group col-md-6">
                                                            <label for="">Categoria</label>
                                                            <select type="text" class="form-select" name="categoriapq" id="categoriapq" value="{{verTipospq.id_categoriap.nombre}}" required>
                                                                <option selected disabled>---------------</option>
                                                                {% for d in categoriapqs %}
                                                                <option
                                                                {% if d.id == verTipospq.id_categoriap.id %}
                                                                {{'selected'}}
                                                                {% endif %}
                                                                value="{{ d.id }}" >{{ d.nombre }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>

                                                        <div class="form-group col-md-12">
                                                            <label for="formFile" class="form-label" style="margin-top: -5px;">Imagen</label>
                                                            <input class="form-control" type="file" name='imagen' id='imagen' value="{{verTipospq.imagen}}" placeholder={{verTipospq.imagen}} >
                                                            <p>Imagen Actual:</p><img src="../media/{{verTipospq.imagen}}" alt="prueva" style="width: 100px">
                                                        </div>

                                                        <div class="form-group col-md-12">
                                                            <label for="">Descripcion</label>
                                                            <textarea class="form-control" placeholder="" name="descripcion" id="descripcion" style="height: 100px" value="{{verTipospq.descripcion}}">{{verTipospq.descripcion}}</textarea>
                                                        </div>

                                                        {% comment %} <div class="form-group col-md-12">
                                                            <label for="">Restriciones</label>
                                                            <div class="form-floating">
                                                                <textarea type="list" class="form-control" placeholder="" name="restricciones" id="restricciones" style="height: 100px" value="{{verTipospq.restriciones}}">{{verTipospq.restriciones}}</textarea>
                                                                <label for="restricciones">Cada restriccion que incluya separelo con una coma.</label>
                                                            </div>
                                                        </div> {% endcomment %}
                                                        <br>
                                                        
                                                        <div class="modal-footer form-group">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                                            <button type="submit" class="btn btn-primary" >Guardar</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>      
                                        </div>
                                     </div>      
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% endblock %}

            {% block script %}
            <script src="{% static 'javascript/funciones.js' %}"></script>

            {% endblock %}
                