{% extends "base.html" %}
{% load static %}

{% block title %}Instalaciones{% endblock %}

{% block content %}

<div class="container grid text-center espacio-container">
  <div class="row align-items-start">
    <div class="col-lg-7">
      <div class="container special-img borde position-relative overflow-hidden ">
        <img class=" " src="../media/{{verTipospq.imagen}}" style="width:50%" alt="Escenario">
      </div>
    </div>
    <!-- <hr class="vertical"> -->
    <div class="col-lg-5">
      {% comment %} <div class="col">
        PRECIO
        <h2> {{verInstalacion.precio}}</h2>
      </div> {% endcomment %}
      <hr>
      
      <div class="col">
        TIPO
        <h4> {{verTipospq.nombre}}</h4>
      </div>
      <hr>

      <hr>
      <div class="col">
        DESCRIPCION
        <h4 align="center"> {{verTipospq.descripcion}} </h4>
      </div>
      <hr>

      <hr>
      <div class="col">
        RESTRICIONES
        <h4>{{verTipospq.restriciones}}</h4>
      </div>
      <hr>
      
      {% comment %} <div class="col">
        <h2> Incluye:</h2>
        <ul type="cicle">
          <li>{{verInstalacion.equipo_incluido}} </li>
          
        </ul>
      </div> {% endcomment %}

    </div>
  </div>
  

  <hr>

  
  {% comment %} <hr class="line "> {% endcomment %}

  <div class="row align-items-start p-4 bg-#e1f5fe" style="background: linear-gradient(310deg,#80d8ff,#2ac7d8)">
    <div class="col">
      <h3>FORMULARIO PQRS </h3>
      <form action="/registroIngresopqs/{{verTipospq.id}}" method="post" class="row g-3">{% csrf_token %}
        <div class="form-group col-md-6">
          <label for="">Nombre</label>
          <input type="text" name="nombre" id="nombre" class="form-control"  required>
      </div>

      <div class="form-group col-md-6">
          <label for="">Apellido</label>
          <input type="text" name="apellido" id="apellido" class="form-control"  required>
      </div>

      <div class="form-group col-md-6">
          <label for="">Ci/Ruc</label>
          <input type="text" name="ci" id="ci"class="form-control"   maxlength="10" minlength="10"  required> 
      </div>

      <div class="form-group col-md-6">
          <label for="">Telefono</label>
          <input type="text" name="telefono" id="telefono" class="form-control" pattern="^[0-9999999999]+" maxlength="10" minlength="10" required>
      </div>

      <div class="form-group col-md-6">
          <label for="">Correo</label>
          <input type="email"  name="correo" id="correo"class="form-control" required>
      </div>

      <div class="form-group col-md-6">
        
        <label for="inputFecha" class="form-label">Fecha de compra</label>
          <input type="date"  name="fecha_reserva" id="fecha_reserva" class="form-control" required>
      </div>

      <div class="form-group col-md-6">
          <label for="num_factura">Num Factura</label>
          <input type="text" name="num_factura" id="num_factura" class="form-control" pattern="^[0-99999999999999]+" maxlength="15" minlength="15" required>
      </div>

      <div class="form-group col-md-6">
          <label for="">Descripcion</label>
          <input type="text" name="descrip" id="descrip" class="form-control"  required>
      </div>

      <div class="form-group col-md-6">
          <label for="">Evidencia</label>
          <input type="text" name="evidencia" id="evidencia" class="form-control"  required>
      </div>

      <div class="form-group col-md-6">
          <label for="cantidad">Cantidad</label>
          <input type="text" name="cantidad" id="cantidad" class="form-control" pattern="^[0-9999999999]+" maxlength="10" minlength="1" required>
      </div>
        
      <div class="form-group col-md-6">
        <label for="Productos">Productos:</label>
        <select class="form-control" id="Productos" name="Productos">
          <option selected disabled>---------------</option> 
          {% for op in horarioF %}
                <option value="{{ op.0 }}">{{ op.1 }}</option>
            {% endfor %}
      </select>
    </div>

      <div class="form-group col-md-6">

        <label for="Presentaciones">Presentaciones  :</label>
        <select class="form-control" id="Presentaciones" name="Presentaciones">
          <option selected disabled>---------------</option> 
          {% for op in horarioI %}
                <option value="{{ op.0 }}">{{ op.1 }}</option>
            {% endfor %}
        </select>
    </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}



